.footer{
    background-color: #09142e;
    // margin-top: -55px;
    .all-footer{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        .img-footer{
            text-align: center;
            padding-top: 115px;
            margin-top: -50px;
        }
        .nav-footer{
            text-align: center;
            padding-bottom: 51px;
            margin-top: 51px;
            ul{
                display: flex;
                max-width: 461px;
                margin-left: auto;
                margin-right: auto;
                align-items: center;
                li{
                   margin: 0 auto;
                   color: #fff;
                }
            }
        }
        .icon-footer{
            display: flex;
            justify-content: center;
            margin-bottom: 91px;
            .icons-footer{
                padding-right: 10px;
                img{
                    width: 30px;
                }
            }
        }
        .copyright{
            text-align: center;
            padding-bottom: 162px;
            color: rgba(255, 255, 255, 0.21);
            font-size: 14px;
        }
    }
}