.section-eight{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    .header-eight{
        h2{
            max-width: 568px;
            font-size: 36px;
            font-weight: 600;
            color: #242f51;
            text-align: center;
            line-height: 1.28;
            margin-left: auto;
            margin-right: auto;
            margin-top: 173px;
        }
        p{
            margin-top: 33px;
            margin-bottom: 82px;
            max-width: 632px;
            line-height: 1.63;
            color: #616368;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .choice-eight{
        display: flex;
        // justify-content: space-evenly;
        text-align: center;
        width:  283px;
        margin-left: auto;
        margin-right: auto;
        
        border: solid 2px #ebebeb;
        border-radius: 28.5px;
        padding: 2px;
        margin-bottom: 39px;
        
        .choice-month{
            width: 136px;
            border-radius: 24px;
            background-color: #2500f9;
            padding: 13px;
            cursor: pointer;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .choice-annually{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            line-height: 2.5;
            cursor: pointer;
            a{
                text-decoration: none;
                color: rgba(97, 99, 104, 0.75);
            }
        }
    }
    .price-all{
        display: flex;
        justify-content: center;
        // align-items: center;
        @media all and(max-width: $screen-xs){
            flex-direction: column;
            align-items: center;
        }
        .price-first{
            width: 317px;
            box-shadow: 3.8px 54.9px 62px 0 rgba(144, 163, 177, 0.18);
            margin-right: 20px;
            @media all and(max-width: $screen-xs){
                margin:0;
                margin-bottom: 70px;
                
            }
            .price-container{
                text-align: center;
                padding-top: 40px;
                background-color: #f4f7f9;
                margin-bottom: 39px;
                p{
                    font-size: 18px;
                    color: #999ca5;
                    strong{
                        font-size: 60px;
                        color: #242f51;
                        text-align: center;
                        font-weight: 600;
                    }
                }
                h2{
                    font-size: 20px;
                    color: #242f51;
                    margin-top: 15px;
                    font-weight: 600;
                }
                h4{
                    font-size: 16px;
                    font-weight: 300;
                    color: #999ca5;
                    padding-bottom: 42px;
                    margin-top: 5px;
                }
                
            }
            ul{
                    
                li{
                    text-align: center;
                    font-size: 16px;
                    color: #999ca5;
                    line-height: 3;
                    
                }
            }
            .button-nav{
                background-color: #2500f9;
                width: 210px;
                text-align: center;
                margin: 0 auto;
                border-radius: 28px;
                padding: 15px;
                cursor: pointer;
                margin-bottom: 25px;
                margin-top: 22px;
                a{
                    text-decoration: none;
                    color: #fff;
                    
                }
            }
        }
        .price-second{
            width: 317px;
            border-radius: 9px;
            border: solid 2px #ebebeb;
            
            margin-left: 20px;
            @media all and(max-width: $screen-xs){
                margin:0;
                
            }
            .price-container{
                text-align: center;
                padding-top: 40px;
                background-color: #f4f7f9;
                margin-bottom: 39px;
                p{
                    font-size: 18px;
                    color: #999ca5;
                    
                    strong{
                        font-size: 60px;
                        color: #242f51;
                        text-align: center;
                        font-weight: 600;
                    }
                }
                h2{
                    font-size: 20px;
                    color: #242f51;
                    margin-top: 15px;
                    font-weight: 600;
                }
                h4{
                    font-size: 16px;
                    font-weight: 300;
                    color: #999ca5;
                    padding-bottom: 42px;
                    margin-top: 5px;
                }
                
            }
            ul{
                    
                li{
                    text-align: center;
                    font-size: 16px;
                    color: #999ca5;
                    line-height: 3;
                    
                }
            }
            .button-nav{
                background-color: #2500f9;
                width: 210px;
                text-align: center;
                margin: 0 auto;
                border-radius: 28px;
                padding: 15px;
                cursor: pointer;
                margin-bottom: 25px;
                margin-top: 22px;
                a{
                    text-decoration: none;
                    color: #fff;
                    
                }
            }
            .down-describe{
                text-align: center;
                margin-bottom: 28px;
                a{
                    text-decoration: none;
                    font-size: 16px;
                    color: #2500f9;
                    
                    line-height: 1.75;
                }
            }
        }
    }
}