.section-four{
    
    
    .all-four{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 129px;
        .together-four{
            display: flex;
            justify-content: space-between;
            @media all and(max-width: $screen-md){
                display: block;
            }
            .header-four{
                max-width: 500px;
                color: #242f51;
                line-height: 1.25;
                font-size: 30px;
                border-right: 1px solid rgba(75, 74, 72, 0.514);
                
                padding-right: 110px;
                @media all and(max-width: $screen-md){
                    padding-right: 0;
                    border: 0;
                    margin-bottom: 100px;

                    &::after{
                        content: '';
                        border: 1px solid rgba(75, 74, 72, 0.514);
                        display: block;
                        position: relative;
                        top: 50px;
                        
                    
                        margin: 0 auto;
                    }
                }
               
               
           
            }
            .describe-four{
                max-width: 406px;
                color: #616368;
                line-height: 1.63;
                font-size: 16px;
                padding-left: 110px;
                @media all and(max-width: $screen-md){
                    padding-left: 0;
                }
            }
        }
        
    }
   .benefits{
       display: flex;
       justify-content: space-between;
       max-width: 1000px;
       margin: 0 auto;
       padding: 0 20px;
       margin-bottom: 114px;
       @media all and(max-width: $screen-sm){
           flex-direction: column;
           align-items: center;
       }
        .first-benefit{
            padding: 0 20px;
            .icon-benefit{

                    width: 88px;
                    height: 88px;
                    background-color: #ffecef;
                    text-align: center;
                    line-height: 130px;
                    border-radius: 100%;
                    margin-bottom: 32px;
                
            }
            .header-benefit{
                max-width: 259px;
                h3{
                    color: #f55767;
                    
                }
            }
        }
        .second-benefit{
            padding: 0 20px;
            @media all and(max-width: $screen-sm){
                margin-top: 30px;
            }
            .icon-benefit{

                width: 88px;
                height: 88px;
                background-color: #f4f4ff;
                text-align: center;
                line-height: 130px;
                border-radius: 100%;
                margin-bottom: 32px;
            
            }
            .header-benefit{
                max-width: 259px;
                h3{
                    color: #2563ff;
                }
            }
        }
        .third-benefit{
            padding: 0 20px;
            @media all and(max-width: $screen-sm){
                margin-top: 30px;
            }
            .icon-benefit{

                width: 88px;
                height: 88px;
                background-color: #e4ffee;
                text-align: center;
                line-height: 130px;
                border-radius: 100%;
                margin-bottom: 32px;
            
            }
            .header-benefit{
                max-width: 259px;
                h3{
                    color: #40975f;
                }
            }
        }
        .header-benefit{
            h3{
                margin-bottom: 15px;
            }
            p{
                line-height: 1.63;
            }
        }
   }
}
