<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app/assets/fontello/css/fontello.css">
    <link rel="stylesheet" href="/app/assets/styles/layout/menuhamburger.css">
    <title>Hello World!</title>
    <link href="resources/styles/main.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  </head>
  <body>
  <main class="main">
    <div class="first-section">
      <nav class="navigation">
        
        <div class="nav-content">
          <img src="/resources/images/AppLab.png" alt=" tak to jest">

          <div class="headers">
            <ul>
              <a href="#"><li>Home</li></a> 
              <a href="#"><li>Key Features</li></a>
              <a href="#"><li>Pricing</li</a>
              <a href="#"><li>Teriminal</li></a>
              <a href="#"><li class="last-li">FAQ</li></a>
              
                
              
            </ul>
            <div class="button-nav">
              <a href="#">
                Try for free
              </a>
            </div>
          </div>
        
        </div>

        
      </nav>
      
      <nav role="navigation">
        <div id="menuToggle">
         
          <input type="checkbox" />
          
         
          <span></span>
          <span></span>
          <span></span>
          
          
          <ul id="menu">
            <a href="#"><li>Home</li></a>
            <a href="#"><li>Key Features</li></a>
            <a href="#"><li>Pricing</li></a>
            <a href="#"><li>Teriminal</li></a>
            <a href="#"><li>FAQ</li></a>
          </ul>
        </div>
      </nav>

      <div class="container-main">
        
        <div class="together-box">

          <div class="one-box">

            <div class="editors-choice">
              <div class="circle-choice">
                
              </div>
              <p>&nbsp;#1 Editors Choice App of 2020</p>
            </div>
            
            <div class="description-header">
              <h1>Best app for your modern lifestyle</h1>
              <p>Increase productivity with a simple to-do app. app for
                managing your personal budgets.</p>
            </div>

            <div class="container-button-video">

              <div class="button-nav">
                <a href="#">
                  Try for free
                </a>
                
              </div>

              <div class="demo-video">
                <a href="#">Watch demo video</a>
              </div>
              
            </div>

            
          </div>

          <div class="two-box">
            <div class="image-phone">
              <img src="/resources/images/phone.png">
            </div>
          </div>

          

        </div>
       
        

        <!-- <div class="img-city">
          <img src="/resources/images/Layer 5.png">
        </div> -->

      
      
       </div>
    </div>

   
    <div class="container-main">
      <div class="company-trust">
        <h3>Trusted by companies like</h3>
      </div>
      <div class="logo-container">
        <div class="logo-company1">
          <img src="/resources/images/9.png">
        </div>
        <div class="logo-company">
          <img src="/resources/images/group 44.png">
        </div>
        <div class="logo-company2">
          <img src="/resources/images/group 56.png">
        </div>
        <div class="logo-company">
          <img src="/resources/images/group 57.png">
        </div>
        <div class="logo-company3">
          <img src="/resources/images/group 86.png">
        </div>
      </div>
    </div>

    <section class="features">
      <div class="features-all">
        <div class="image-features">
          <img src="/resources/images/group 90.png">
        </div>
        <div class="together-features-icon">
          <div class="header-featuers">
            <h2>Awesome apps
              features</h2>
              <p>Increase productivity with a simple to-do app. app for
                managing your personal budgets.</p>
          </div>
        
          <div class="element-icon element-icon1">
            
              <div class="icon-featuers">
                <img src="/resources/images/speed.png">
              </div>
              <div class="elements-featuers">
                <h3>Fast Performance </h3>
                <p>Get your blood tests delivered at
                  home collect a sample from the
                  news your blood tests.</p>
              </div>
          </div>

          <div class="element-icon element-icon2">
            
            <div class="icon-featuers">
              <img src="/resources/images/prototyping.png">
            </div>

            <div class="elements-featuers elements-featuers2">
              <h3 class="header-performance">Fast Performance </h3>
              <p>Get your blood tests delivered at
                home collect a sample from the
                news your blood tests.</p>
            </div>
          </div>



          <div class="element-icon element-icon3">
            
            <div class="icon-featuers">
              <img src="/resources/images/vector.png">
            </div>

            <div class="elements-featuers elements-featuers3">
              <h3>Fast Performance </h3>
              <p>Get your blood tests delivered at
                home collect a sample from the
                news your blood tests.</p>
            </div>

          </div>

        </div>
      </div>
    </section>

    <section class="section-four">
      <div class="all-four">
        <div class="together-four">
          <div class="header-four">
            <h3>Smart jackpots that
              you may love this
              anytime & anywhere</h3>
          </div>
          <div class="describe-four">
            <p>The rise of mobile devices transforms the way we
              consume information entirely and the world's most
              elevant channels such as Facebook.</p>
          </div>
        </div>
      </div>

      <div class="benefits">
        <div class="first-benefit">
          <div class="icon-benefit">
            <img src="/resources/images/speed.png">
          </div>
          <div class="header-benefit">
            <h3>Automatic Payouts</h3>
            <p>Get your blood tests delivered at
              home collect a sample from the
              news your blood tests.</p>
          </div>
        </div>

        <div class="second-benefit">
          <div class="icon-benefit">
            <img src="/resources/images/prototyping.png">
          </div>
          <div class="header-benefit">
            <h3>Automatic Payouts</h3>
            <p>Get your blood tests delivered at
              home collect a sample from the
              news your blood tests.</p>
          </div>
        </div>

        <div class="third-benefit">
          <div class="icon-benefit">
            <img src="/resources/images/vector.png">
          </div>
          <div class="header-benefit">
            <h3>Automatic Payouts</h3>
            <p>Get your blood tests delivered at
              home collect a sample from the
              news your blood tests.</p>
          </div>
        </div>

      </div>

    </section>

    <section class="section-five">
      <div class="all-five">
        <div class="img-five">
          <img src="resources/images/layer 6.png">
        </div>
        <div class="describe-five">
          <h2>Designed & built by
            the latest code
            integration</h2>
            <p>The rise of mobile devices transforms the way we
              consume information entirely and the world's most
              elevant channels such as Facebook.</p>

              <div class="button-nav">
                <a href="#">Learn more</a>
              </div>

        </div>
      </div>
    </section>


    <section class="section-six">
      <div class="header-six">
          <h2>Why you should choose
            our app</h2>
            <p>The rise of mobile devices transforms the way we consume information entirely
              and the world's most elevant channels such as Facebook.</p>
      </div>
      <div class="all-six">
        <div class="icons-six-first">

         
          <div class="describe-six">
            <div class="img-six six1">
              <img src="/resources/images/vector.png">
            </div>
            <h3>App Development</h3>
            <p>Get your blood tests delivered at
              home collect a sample from the
              news your blood tests.</p>
          </div>

          
          <div class="describe-six">
            <div class="img-six six2">
              <img src="/resources/images/vector.png">
            </div>
            <h3>10 Times Award</h3>
            <p>Get your blood tests delivered at
              home collect a sample from the
              news your blood tests.</p>
          </div>

          
          <div class="describe-six">
            <div class="img-six six3">
              <img src="/resources/images/vector.png">
            </div>
            <h3>Cloud Storage</h3>
            <p>Get your blood tests delivered at
              home collect a sample from the
              news your blood tests.</p>
          </div>

        </div>

        <div class="icons-six-second">
          
          <div class="describe-six">
            <div class="img-six six4">
              <img src="/resources/images/vector.png">
            </div>
            <h3>Customization</h3>
            <p>Get your blood tests delivered at
              home collect a sample from the
              news your blood tests.</p>
          </div>

          
          <div class="describe-six">
            <div class="img-six six5">
              <img src="/resources/images/vector.png">
            </div>
            <h3>UX Planning</h3>
            <p>Get your blood tests delivered at
              home collect a sample from the
              news your blood tests.</p>
          </div>

         
          <div class="describe-six">
            <div class="img-six six6">
              <img src="/resources/images/vector.png">
            </div>
            <h3>Customer Support</h3>
            <p>Get your blood tests delivered at
              home collect a sample from the
              news your blood tests.</p>
          </div>
        </div>

      </div>
    </section>

    <section class="section-seven">
      <div class="header-seven">
        <h2>Ultimate features
          that we built</h2>
        <p>The rise of mobile devices transforms the way we
          consume information entirely.</p>
      </div>
      
        <div class="all-seven">
          <div class="seven-first">
            
            <div class="describe-seven">

              <div class="img-seven seven1">
                <img src="/resources/images/speed.png">
              </div>
              <h2>App Development</h2>
              <p>Get your blood tests delivered at
                home collect a sample from the
                news your blood tests.</p>
            </div>

            <div class="describe-seven">

              <div class="img-seven seven3">
                <img src="/resources/images/speed.png">
              </div>
              <h2>Cloud Storage</h2>
              <p>Get your blood tests delivered at
                home collect a sample from the
                news your blood tests.</p>

                <div class="button-nav">
                  <a href="#">See all</a>
                </div>

            </div>

          </div>


          <div class="seven-second">

            <div class="describe-seven">

              <div class="img-seven seven2">
                <img src="/resources/images/speed.png">
              </div>
              <h2>UX Planing</h2>
              <p>Get your blood tests delivered at
                home collect a sample from the
                news your blood tests.</p>
               
            </div>

            <div class="describe-seven">

              <div class="img-seven seven4">
                <img src="/resources/images/speed.png">
              </div>
              <h2>Customer support</h2>
              <p>Get your blood tests delivered at
                home collect a sample from the
                news your blood tests.</p>

                <div class="button-nav">
                  <a href="#">See all</a>
                </div>
            </div>

          </div>

          <div class="img-right">
            <div class="img-right-first">
            <img src="/resources/images/phone copy 4.png">
              
                
            </div>
            
          </div>

        </div>
      
    </section>

    <section class="section-eight">
      <div class="header-eight">
        <h2>Get awesome features, without
          extra charges</h2>
          <p>The rise of mobile devices transforms the way we consume information entirely
            and the world's most elevant channels such as Facebook.</p>
      </div>

      <div class="choice-eight">
        <div class="choice-month">
          <a href="#">Monthly</a>
        </div>
        <div class="choice-annually">
          <a href="#">Annually</a>
        </div>
      </div>

      <div class="price-all">
        <div class="price-first">
          <div class="price-container">
            <p><strong>$0</strong>/month</p>
            <h2>Business Class</h2>
            <h4>For small teams or office</h4>
          </div>
          <ul>
            <li>Drag & Drop Builder</li>
            <li>1,000's of Templates</li>
            <li>Blog Support Tools</li>
            <li>eCommerce Store</li>
          </ul>
          <div class="button-nav">
            <a href="#">Start free trail</a>
          </div>
        </div>

        <div class="price-second">
          <div class="price-container">
            <p><strong>$99</strong>/month</p>
            <h2>Pro Master</h2>
            <h4>For Best opportunities</h4>
          </div>
          <ul>
            <li>Drag & Drop Builder</li>
            <li>1,000's of Templates</li>
            <li>Blog Support Tools</li>
            <li>eCommerce Store</li>
          </ul>
          <div class="button-nav">
            <a href="#">Subscribe now</a>
          </div>
          <p class="down-describe">
            <a href="#">Or Start 14 days trail</a>  
          </p>
        </div>
      </div>
    </section>

    <section class="section-nine">
      <div class="all-nine">
        <div class="nine-image">
          <img src="/resources/images/people images.png" alt="">
        </div>
        <div class="header-nine">
          <h2>Meet Client Satisfaction
            by using product</h2>
            <p>The rise of mobile devices transforms the way we consume.
              elevant channels such as Facebook.</p>
              <div class="stars-nine">
                <img src="/resources/images/speed.png" alt="">
                <img src="/resources/images/speed.png" alt="">
                <img src="/resources/images/speed.png" alt="">
                <img src="/resources/images/speed.png" alt="">
                <img src="/resources/images/speed.png" alt="">
              </div>

              <div class="header2-nine">
                <h3>
                  User friendly & Customizable
                </h3>
                <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
              </div>

              <div class="all-people">
                <div class="people-nine">
                  <div class="img-people">
                    <img src="/resources/images/speed.png">
                  </div>
                  <div class="name-people">
                    <h4>Zoltan Nemeth</h4>
                    <p>CEO of Pixler Lab</p>
                  </div>

                  
                </div>
                <div class="arrows-nine">
                  <div class="left-arrow">
                    <img src="/resources/images/speed.png" alt="">
                  </div>
                  <div class="right-arrow">
                    <img src="/resources/images/vector.png" alt="">
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>

    <section class="section-ten">
      <div class="header-ten">
        <h2>Frequently asked questions</h2>
        <p>The rise of mobile devices transforms the way we consume information entirely
          and the world's most elevant channels such as Facebook.</p>
      </div>
      <div class="question-ten">
        <div class="describe-question">
          <h2>How to contact with riders emergency?</h2>
          <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.

            </p>
        </div>
        <div class="question-answer">
          <div class="question">
            <h2>App installation failed, how to update system information?</h2>
          </div>
          
            <div class="icon-plus">
            
                <p onClick="op('#firstanswer');">+</p>
               
              
            </div>
          
          
        </div>

        
          <div id="firstanswer" style="display: none;">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sequi doloremque, beatae laborum temporibus natus dolor adipisci quisquam quod dignissimos perspiciatis molestiae rem quam vitae eius, nesciunt nemo veniam nihil.. <br><br>
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis eligendi reiciendis magnam repellat doloremque? Neque ipsa, nesciunt ullam similique voluptatem doloremque esse laudantium sed delectus dignissimos aliquam veritatis at. 

              </p>
          </div>
       


            <div class="question-answer">
              <div class="question">
                <h2>Website reponse taking time, how to improve?</h2>
              </div>

              <div class="icon-plus">
            
                <p onClick="op('#secondanswer');">+</p>
               
              
              </div>

            </div>

            <div id="secondanswer" style="display: none;">
              <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sequi doloremque, beatae laborum temporibus natus dolor adipisci quisquam quod dignissimos perspiciatis molestiae rem quam vitae eius, nesciunt nemo veniam nihil.. <br><br>
                  
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis eligendi reiciendis magnam repellat doloremque? Neque ipsa, nesciunt ullam similique voluptatem doloremque esse laudantium sed delectus dignissimos aliquam veritatis at. 
  
                </p>
            </div>


            <div class="question-answer">
              <div class="question">
                <h2>New update fixed all bug and issues</h2>
              </div>
                <div class="icon-plus">
              
                  <p onClick="op('#thirdanswer');">+</p>
                
                
                </div>
              
            </div>

            <div id="thirdanswer" style="display: none;">
              <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sequi doloremque, beatae laborum temporibus natus dolor adipisci quisquam quod dignissimos perspiciatis molestiae rem quam vitae eius, nesciunt nemo veniam nihil.. <br><br>
                  
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis eligendi reiciendis magnam repellat doloremque? Neque ipsa, nesciunt ullam similique voluptatem doloremque esse laudantium sed delectus dignissimos aliquam veritatis at. 
  
                </p>
            </div>

            

            <div class="question-answer">
              <div class="question">
                <h2>How to contact with riders emergency?</h2>
              </div>

                <div class="icon-plus">
                
                  <p onClick="op('#fourthanswer');">+</p>
                
                
                </div>
              
            </div>


            <div id="fourthanswer" style="display: none;">
              <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sequi doloremque, beatae laborum temporibus natus dolor adipisci quisquam quod dignissimos perspiciatis molestiae rem quam vitae eius, nesciunt nemo veniam nihil.. <br><br>
                  
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis eligendi reiciendis magnam repellat doloremque? Neque ipsa, nesciunt ullam similique voluptatem doloremque esse laudantium sed delectus dignissimos aliquam veritatis at. 
  
                </p>
            </div>
            

      </div>

    </section>

    <section class="section-eleven">
      <div class="all-eleven">
        <div class="header-eleven">
          <h2>Download our App now !</h2>
          <p>The rise of mobile devices transforms the way we consume information entirely
            and the world's most elevant channels such as Facebook.</p>
            <div class="img-google-apple">
              <div class="img-google">
                <img src="/resources/images/googleplay.png">
              </div>
              <div class="img-apple">
                <img src="/resources/images/applestore.png">
              </div>
            </div>
        </div>
        <div class="image-eleven">
          <img src="/resources/images/trail.png">
        </div>
      </div>
    </section>

   
  </main>
 
  <footer class="footer">
    <div class="all-footer">
      <div class="img-footer">
        <img src="/resources/images/applab.png">
      </div>
      <div class="nav-footer">
        <ul>
          <li>Home</li>
          <li>Key Features </li>
          <li>Pricing</li>
          <li>Testiminial </li>
          <li>FAQ</li>
        </ul>
      </div>

      <div class="icon-footer">

        <div class="icons-footer">
          <img src="/resources/images/speed.png">
        </div>

        <div class="icons-footer">
          <img src="/resources/images/speed.png">
        </div>

        <div class="icons-footer">
          <img src="/resources/images/speed.png">
        </div>

        <div class="icons-footer">
          <img src="/resources/images/speed.png">
        </div>

      </div>

      <div class="copyright">
        <p>Copyright© Arifur Rahman Tushar 2019. All rights reserved</p>
      </div>
    </div>
  </footer>



    <div id="preloader" class="preloader">
      <div class="cssload-loader">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
      </div>
    </div>

    <script>
      jQuery(document).ready(function($){
        op = function(obj) {
          $(obj).stop().slideToggle();
          };
      });
      </script>

    <script src="resources/scripts/bundle.js"></script>
    
    <script src="resources/scripts/jquery.js"></script>
  </body>
</html>
